name: Publish

on: workflow_dispatch

jobs:
  build:

    runs-on: ${{ matrix.platform }}

    strategy:
      matrix:
        platform: [ubuntu-20.04, windows-2022, macos-11]

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: true
    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
    - uses: actions/setup-python@v4
      with:
        python-version: "3.11"
    - name: (if on Ubuntu 20.04) switch to g++ 10
      run: |
        echo CC=gcc-10 >> $GITHUB_ENV
        echo CXX=g++-10 >> $GITHUB_ENV
      if: matrix.platform == 'ubuntu-20.04'
    - name: (if on Ubuntu) install fonts
      run: sudo apt-get install -y fonts-ubuntu || true
      if: contains(matrix.platform, 'ubunbtu')
    - run: npm install
      env:
        PKG_CONFIG_PATH:
    - run: npm test
    - run: npx @mapbox/node-pre-gyp package
    - run: npx @mmomtchev/node-pre-gyp-github publish
      env:
        NODE_PRE_GYP_GITHUB_TOKEN: ${{ secrets.NODE_PRE_GYP_GITHUB_TOKEN }}
