name: Node.js CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:

    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x]
        platform: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: true
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - uses: actions/setup-python@v4
      with:
        python-version: "3.11"
    - name: Cache conan artifacts
      id: conan-artifacts
      uses: actions/cache@v3
      with:
        path: ~/.conan
        key: ${{ matrix.platform }}
    - run: npm install --ignore-scripts --production
    - run: npx node-pre-gyp configure --debug
    - run: npx node-pre-gyp build
    - run: npm install
    - run: npm test
