name: Node.js CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:

    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x]
        platform: [ubuntu-latest, ubuntu-20.04, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: true
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - uses: actions/setup-python@v4
      with:
        python-version: "3.11"
    - name: (if on Ubuntu 20.04) switch to g++ 10
      run: |
        echo CC=gcc-10 >> $GITHUB_ENV
        echo CXX=g++-10 >> $GITHUB_ENV
      if: matrix.platform == 'ubuntu-20.04'
    - name: (if on Ubuntu) install fonts
      run: sudo apt-get install -y fonts-ubuntu || true
      if: contains(matrix.platform, 'ubunbtu')
    - name: Cache conan artifacts
      id: conan-artifacts
      uses: actions/cache@v3
      with:
        path: ~/.conan
        key: ${{ matrix.platform }}
    - run: npm install --ignore-scripts --production
    - run: npm install typescript
    - run: npx node-pre-gyp configure
      env:
        PKG_CONFIG_PATH:
    - run: npx node-pre-gyp build
    - run: npm install
    - run: npm test
