name: Node.js CI

on:
  push:
    branches: '*'

jobs:
  python:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: true
    - name: Use Node.js 18.x
      uses: actions/setup-node@v4
      with:
        node-version: 18.x
    - uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - run: npm install --verbose --foreground-scripts
    - run: npx xpm install
    - run: npx xpm run python -- --version
    - run: npx xpm run conan -- version
